.forum__title {
  padding: 0.5em 0;
}

.main__forum {
  margin-left: 12%;
}

.form__new-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0.5em;
}

.new-post__text-area {
  width: 80%;
  height: 50%;
}

.changers-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.changers__card {
  cursor: pointer;
  margin: 0.2em;
}
