@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inknut+Antiqua:wght@600&family=Roboto+Slab&display=swap');

/*CSS Global*/

:root {
  /*Font Config*/
  --font-title: 'Inknut Antiqua', serif;
  --font-text: 'Roboto Slab', serif;
  --font-input: 'Indie Flower', cursive;

  --font-big: 3rem;
  --font-med: 2rem;
  --font-small: 1.5rem /*Font Config*/;
}

/*CSS Global*/

/*Fonts*/

.font-title {
  font-family: var(--font-title);
}

.font-text {
  font-family: var(--font-text);
}

.font-input {
  font-family: var(--font-input);
}

.font-big {
  font-size: var(--font-big);
}

.font-med {
  font-size: var(--font-med);
}

.font-small {
  font-size: var(--font-small);
}

/*Fonts*/
